<div style="height: 100vh; display: flex; flex-direction: column;">
    <mat-toolbar style="background-color: orange;">
        <button mat-icon-button (click)="sidenav.toggle()" id="menuIcon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <span id="menuTitle">Telefon Rehberi</span>
        <a mat-button routerLink="/" class="top-menu-item"><mat-icon>home</mat-icon>Ana Sayfa</a>
        <a mat-button routerLink="/contacts" class="top-menu-item"><mat-icon>people</mat-icon>Kişilerim</a>
        <a mat-button routerLink="/newcontact" class="top-menu-item" style="margin-right: 0%;"><mat-icon>person_add</mat-icon>Yeni kişi ekle</a>
    </mat-toolbar>
    
    <mat-sidenav-container style="flex: 1; display: flex;">
        <mat-sidenav #sidenav [fixedInViewport]="true" [fixedTopGap]="60" mode="side" style="background-color: orange;">
            <div class="side-nav-items">
                <div>
                    <a (click)="sidenav.close()" mat-button routerLink="/" class="side-menu-item">
                        <mat-icon>home</mat-icon>Ana Sayfa
                    </a>
                </div>
                <div>
                    <a (click)="sidenav.close()" mat-button routerLink="/contacts" class="side-menu-item">
                        <mat-icon>people</mat-icon>Kişilerim
                    </a>
                </div>
                <div>
                    <a (click)="sidenav.close()" mat-button routerLink="/newcontact" class="side-menu-item">
                        <mat-icon>person_add</mat-icon>Yeni kişi ekle
                    </a>
                </div>
            </div>
        </mat-sidenav>
    
        <mat-sidenav-content style="flex: 1;">
            <div class="main-content">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
