<div id="mainContent">
    <h1>Yeni kişi bilgileri</h1>
  
    <div id="contactCard">
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="myform">
        <mat-card>
          <mat-card-content>
            <div class="myInputs">
              <mat-form-field class="example-full-width">
                <mat-label>Adı</mat-label>
                <input matInput formControlName="firstName">
              </mat-form-field>
  
              <mat-form-field class="example-full-width">
                <mat-label>Soyadı</mat-label>
                <input matInput formControlName="lastName">
              </mat-form-field>
  
              <mat-form-field class="example-full-width">
                <mat-label>Telefon Numarası</mat-label>
                <input matInput formControlName="phoneNumber">
              </mat-form-field>
  
              <mat-form-field class="example-full-width">
                <mat-label>Addresi</mat-label>
                <input matInput formControlName="address">
              </mat-form-field>
            </div>
          </mat-card-content>
  
          <mat-card-actions align="end">
            <button class="actionButtons" (click)="onCancel()" type="button" mat-raised-button color="warn">İptal</button>
            <button class="actionButtons" [disabled]="contactForm.invalid" type="submit"  mat-raised-button
             [ngClass]="{'enabled-button': !contactForm.invalid, 'disabled-button': contactForm.invalid}"
             [ngStyle]="!contactForm.invalid ? {'background-color': 'green', 'color': 'white'} : {}">  Kaydet</button>
          </mat-card-actions>
        </mat-card>
      </form>
    </div>
  </div>
  